* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

main {
  flex: 1 auto;
  position: relative;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  //   letter-spacing: 0.04em;

  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

button {
  border: none;
  background-color: transparent;
}

.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
  color: inherit;
  //   cursor: url('../images/cursor.png'), pointer;
}

ul,
ol {
  //   padding-left: 0;
  //   margin-top: 0;
  //   margin-bottom: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
