.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (max-width: 320px) {
    width: 100%;
  }

   @media screen and (min-width: 480px) {
    width: 480px;
   }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
   }
   @media screen and (min-width: 1200px) {
     width: 1200px;
     padding-left: 16px;
     padding-right: 16px;
   }
 }