.container-library {
  margin: 0 auto;
  @media screen and (max-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
.section-library {
  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
