$mobail: 320px;
$tablet: 768px;
$desktop: 1280px;

// $min-widths: (
//   'small': 320px,
//   'medium': 768px,
//   'large': 1280px,
// ) !default;

// $max-widths: (
//   'small': 319px,
//   'medium': 767px,
//   'large': 1279px,
// ) !default;
