:root {
    --header-accent-color: #FF001B;
    --text-color-white: #ffffff;
    --text-color-dark: #000000;
    --background-color: #ffffff;
    --main-accent-color: #FF6B08;
    --footer-background-color: #F7F7F7;
    --footer-text-color: #545454;
    --header-background-color: rgba(0, 0, 0, 0.56);

}