:root {
  --header-accent-color: #ff001b;
  --text-color-white: #ffffff;
  --text-color-dark: #000000;
  --background-color: #ffffff;
  --main-accent-color: #ff6b08;
  --footer-background-color: #f7f7f7;
  --footer-text-color: #545454;
  --header-background-color: rgba(0, 0, 0, 0.56);
  --background-color-dark: rgb(21, 19, 19);
  --footer-dark-theme-color: rgb(9, 7, 7);
  --card-dark-color: rgb(40, 36, 36);
}
