<div class="team-backdrop is-hidden" data-team-modal>
    <div class="team-modal">
        <button class="team-modal__btn" data-team-modal-close>
            <div class="team-modal__btn-inner">
                <span class="team-modal__btn-text">Back
                </span>
            </div>

        </button>
        <div>
            <h2 class="team-modal__title">Developed with
                <svg class="team-modal__icon" width="24" height="23">
                    <use href="/src/images/sprite.svg#icon-favorite"></use>
                </svg> by
            </h2>
            <ul class="team-modal__list">
                <li class="team-modal__item">
                    <img class="team-modal__foto" src="/src/images/our-team-modal/holubonkova.jpg" alt="Holubonkova"
                        width="200" height="260">
                    <div class="team-modal__info">
                        <h3 class="team-modal__name">Olena Holubonkova</h3>
                        <p class="team-modal__role">Team Lead, FullStack developer</p>
                        <ul class="team-modal__soclist">
                            <li>
                                <a class="team-modal__soclink" href="" target="_blank">
                                    <svg class="team-modal__icon" width="15" height="15">
                                        <use href="/src/images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="team-modal__soclink" href="" target="_blank">
                                    <svg class="team-modal__icon" width="15" height="15">
                                        <use href="/src/images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="team-modal__soclink" href="" target="_blank">
                                    <svg class="team-modal__icon" width="15" height="15">
                                        <use href="/src/images/sprite.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>