<header class="header-library__section">
  <div class="header-library__container">
    <div class="header-library__wrap">
      <a
        href="./index.html"
        class="header-library__navigation__logo"
        target="_self"
        rel="noopener noreferrer"
        title="Logo"
      >
        <svg class="header-library__navigation__svg" width="24" height="24">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="header-library__navigation__text link">Filmoteka</span>
      </a>
      <nav class="header-library__navigation">
        <ul class="header-library-list">
          <li class="header-library-list__item">
            <a
              href="./index.html"
              class="header-library-list__link link"
              target="_self"
              rel="noopener noreferrer"
              title="Home page"
              >Home</a
            >
          </li>
          <li class="header-library-list__item">
            <a
              href="./partials/library.html"
              class="header-library-list__link link current"
              target="_self"
              rel="noopener noreferrer"
              title="My library"
              >my library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <ul class="header-library-btn">
      <li class="header-library-btn__item">
        <button
          type="button"
          class="header-library-btn__style watched-btn btn-active"
        >
          Watched
        </button>
      </li>
      <li class="header-library-btn__item">
        <button type="button" class="header-library-btn__style queue-btn">
          queue
        </button>
      </li>
    </ul>
    <div>
      <label class="form-switch">
        <svg class="theme-switch__icon" aria-label="sun" width="15" height="15">
          <use href="./images/sprite.svg#sun-max-svgrepo-com"></use>
        </svg>
        <input type="checkbox" id="theme-switch-toggle" />
        <i></i>
        <svg
          class="theme-switch__icon"
          aria-label="moon"
          width="15"
          height="15"
        >
          <use href="./images/sprite.svg#moon-svgrepo-com-2"></use>
        </svg>
      </label>
    </div>
  </div>
</header>
