<header class="header-library__section">
  <div class="header-library__container">
    <div class="header-library__wrap">
      <a
        href="./index.html"
        class="header-library__navigation__logo"
        target="_self"
        rel="noopener noreferrer"
        title="Logo"
      >
        <svg class="header-library__navigation__svg" width="24" height="24">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="header-library__navigation__text link">Filmoteka</span>
      </a>
      <nav class="header-library__navigation">
        <ul class="header-library-list">
          <li class="header-library-list__item">
            <a
              href="./index.html"
              class="header-library-list__link link"
              target="_self"
              rel="noopener noreferrer"
              title="Home page"
              >Home</a
            >
          </li>
          <li class="header-library-list__item">
            <a
              href="./partials/library.html"
              class="header-library-list__link link current"
              target="_self"
              rel="noopener noreferrer"
              title="My library"
              >my library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <ul class="header-library-btn">
      <li class="header-library-btn__item">
        <button type="button" class="header-library-btn__style">Watched</button>
      </li>
      <li class="header-library-btn__item">
        <button type="button" class="header-library-btn__style">queue</button>
      </li>
    </ul>
  </div>
</header>
