.backdrop-film {
  position: fixed;
  top: 0;
  left: 0;
  // z-index: 100;
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 1;

  visibility: visible;
  pointer-events: auto;

  overflow: overlay;

  @media screen and (max-width: 1199px) {
    background-color: rgb(0, 0, 0, 0.25);
  }
}

.backdrop-film.is-hidden .modal-film {
  transform: translate(-50%, -50%) scale(0.7);
}
.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-film {
  position: absolute;
  display: flex;

  padding: 40px 12px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  box-shadow: 0px 0px 20px var(--main-accent-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--background-color);

  width: 806px;
  height: 558px;

  overflow-y: auto;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: block;
    width: fit-content;
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 40px;
    padding-left: 36px;
    padding-right: 72px;

    width: 704px;
  }
}

.modal-film__card {
  display: flex;
  justify-content: center;
  margin-right: 20px;

  @media screen and (max-width: 767px) {
    display: block;
  }
}
.modal-film-card-wrapper {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 68px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 20px;
  }
}
.img-film__poster {
  display: block;

  background: url(../images/poster.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 5px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 320px) {
    width: 240px;
    height: 357px;
    margin: 0;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 264px;
    height: 374px;
    object-fit: cover;
  }
  @media screen and (min-width: 1200px) {
    width: 375px;
    height: 478px;
  }
}

.modal-film__img {
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-film__poster:hover,
.modal-film__img:hover {
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.03);
}

//-------- trailer-movie --------
.player {
  width: 420px;
  height: 315px;
  margin-right: 20px;
  @media screen and (max-width: 477px) {
    width: 100%;
    height: 186px;
  }
  // @media screen and (min-width: 478px) and (max-width: 767px) {
  //   width: 320px;
  //   height: 186px;
  // }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 408px;
    height: 293px;
  }
}
//-------- end trailer-movie -----

.movie-info {
  display: flex;
  flex-direction: column;
}

.film-title,
.about-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.film-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  @media screen and (min-width: 320px) {
    font-size: 20px;
    line-height: 23px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 20px;
    line-height: 23px;
  }
}

.film-title__list-film {
  margin-bottom: 20px;
  @media screen and (max-width: 479px) {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    gap: 8px;
  }
}

.film-title__item-film {
  column-count: 2;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #8c8c8c;
}

.film-title__desc-film {
  color: var(--text-color-dark);
}
.film-title__vote_average {
  width: 36px;
  height: 16px;
  background: #ff6b01;
  border-radius: 5px;
}
.film-title__slash {
  font-size: 12px;
  line-height: 16px;

  color: #8c8c8c;
}
.film-title__vote_count {
  width: 36px;
  height: 16px;
  background: #f7f7f7;
  border-radius: 5px;
}

.about-title {
  font-size: 12px;
  line-height: 16px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 8px;
  }
}

.text-about-movie {
  margin-bottom: 20px;
  max-width: 300px;

  font-size: 12px;
  line-height: 20px;

  @media screen and (max-width: 767px) {
    width: 240px;
  }
}
