.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow: hidden;
    background: #33403e55;
    z-index: 1001;
  }
  
  .preloader__image {
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loaded .preloader {
    display: none;
  }
  
  .loading .preloader {
    display: flex;
  }