.team-backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.team-modal {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  overflow-y: auto;
  padding: 45px 32px;
  background-color: var(--background-color);
  border-radius: 20px;
  // box-shadow: 2px 2px 3px 3px rgb(255 107 8 / 50%);

  @media screen and (min-width: 768px) {
    width: 704px;
    gap: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 906px;
    // gap: 10px;
    max-height: 80%;
    gap: 10px;
  }
}

// кнопка закриття модального вікна
.team-modal__btn {
  border: none;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

// анмація кнопкм закриття
.team-modal__btn-inner {
  width: inherit;
  text-align: center;
}

.team-modal__btn-text {
  font-size: 0.8em;
  line-height: 4em;
  text-transform: uppercase;
  color: var(--main-accent-color);
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.team-modal__btn-inner::before,
.team-modal__btn-inner::after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: var(--main-accent-color);
  left: 0;
  transition: all 0.3s ease-in;
}

.team-modal__btn-inner::before {
  top: 50%;
  transform: rotate(45deg);
}

.team-modal__btn-inner::after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.team-modal__btn:hover .team-modal__btn-text {
  opacity: 1;
}

.team-modal__btn:hover .team-modal__btn-inner::before,
.team-modal__btn:hover .team-modal__btn-inner::after {
  transform: rotate(0);
}

.team-modal__btn:hover .team-modal__btn-inner:before {
  top: 0;
}

.team-modal__btn:hover .team-modal__btn-inner:after {
  bottom: 0;
}
.icon-heart {
  margin-left: 10px;
  margin-right: 10px;
  animation: pulse 3s infinite;
}
.team-modal__title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  background-color: var(--footer-text-color);
  background-image: linear-gradient(
    90deg,
    var(--main-accent-color),
    var(--footer-text-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media screen and (min-width: 1200px) {
    font-size: 28px;
  }
}
.team-modal__list {
  display: flex;
  gap: 20px;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  @media screen and (min-width: 1199px) {
    gap: 10px;
  }
}

.team-modal__item {
  padding-top: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 11px 8px 26px -9px rgba(0, 0, 0, 0.82);
  transition: all 0.3s;
}
.team-modal__item:hover,
.team-modal__item:focus {
  transform: scale(1.05);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    4px 1px 14px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 4px 1px 14px 5px rgba(0, 0, 0, 0);
}
.team-modal__foto {
  overflow: hidden;
  display: block;
  // width: 90%;
  // height: 173px;
  max-width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  @media screen and (max-width: 480px) {
    width: 90%;
  }
}

.team-modal__info {
  padding: 10px 10px;
  text-align: center;
}
.team-modal__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  margin-bottom: 7px;
  color: var(--footer-text-color);
}

.team-modal__role {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  color: var(--main-accent-color);
}

.team-modal__soclist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15px;
  padding-top: 10px;
}

.team-modal__soclink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: var(--footer-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms linear;
}

.team-modal__soclink:hover,
.team-modal__soclink:focus {
  background-color: var(--main-accent-color);
  fill: var(--background-color);
  transform: scale(1.3);
}
