.header-library__container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-library__section {
  padding-top: 44px;
  padding-bottom: 60px;
}

.header-library__wrap {
  margin-right: auto;
  margin-left: auto;
  width: 280;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;

  @media screen and (min-width: 480px) {
    width: 440;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 767px) {
    width: 704;
  }

  @media screen and (min-width: 1200px) {
    width: 1136;
  }
}

@media screen and (max-width: 767px) {
  .header-library__section {
    background-color: var(--footer-background-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/headerMyLib_background_mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header-library__section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/headerMyLib_background_mobile@x2.jpg');
  }
}

@media screen and (min-width: 768px) {
  .header-library__section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/headerMyLib_background_tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library__section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/headerMyLib_background_tablet@x2.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .header-library__section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/headerMyLib_background.jpg');
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .header-library__section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/headerMyLib_background@x2.jpg');
  }
}

@media screen and (max-width: 767px) {
  .header-library__navigation__text {
    display: none;
  }
}

.header-library__navigation__text {
  color: var(--text-color-white);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
}

.header-library-list {
  display: flex;
  gap: 40px;
}

.header-library-list__link {
  position: relative;
}

.current {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: var(--header-accent-color);
  }
}

.header-library__navigation__svg {
  margin-right: 10px;
}

.header-library-list__link {
  color: var(--text-color-white);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
}

.header-library-btn__style {
  color: var(--text-color-white);
  background-color: transparent;
  border: 1px solid var(--text-color-white);
  font-family: inherit;
  cursor: pointer;
  padding: 14px 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border-radius: 5px;
  filter: drop-shadow(1px 15px 15px var(--main-accent-color));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--main-accent-color);
    border: none;
  }

  @media screen and (min-width: 767px) {
    padding: 14px 46px;
  }
}

.header-library-btn {
  display: flex;
  gap: 20px;
  justify-content: center;

  @media screen and (min-width: 767px) {
    gap: 32px;
  }
}
